* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Background */
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  /* Color */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* Content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  /* Border */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /* Typography */
  --font-family: "Inter", sans-serif;
  --title: 700 1.5rem/2rem var(--font-family);
  --label: 600 1rem/1.25rem var(--font-family);
  --paragraph: 500 1rem/1.25rem var(--font-family);
  --link: 500 .875rem/1rem var(--font-family);
}

main {
  font: var(--paragraph);
}

a {
  color: var(--color-brand);
  text-decoration: none;
  font: var(--link);
  cursor: pointer;
}

h1 {
  font: var(--title);
  color: var(--content-primary);
}

button, input[type="text"], #alert {
  font: var(--label);
  border-radius: .75rem;
  border: none;
  outline: none;
  height: 2.75rem;
}

.hide {
  display: none !important;
}

.purchased {
  border: 1px solid white;
  background-color: #dedbddfd;
}

